<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= @client.name %> page</title>
  </head>
  <body>
    <h2>Clients page</h2>
    <p>Name: <%= @client.name %></p>
    <p>Phone: <%= @client.phone %></p>
    <p>Your Barber: <%= @client.barber %></p>
    <p>Date of visit: <%= @client.datestamp %></p>
    <p>Color that was picked: <%= @client.color %></p>
  </body>
</html>
